<html>
<head>
  <title>To Do List</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>


<div id="main-div">
  <div id="inputs">
    <h1>To Do List</h1>
    <hr>
  <form>
    <input type="text" id="text1" placeholder="What to do..."/>
    <input type="submit" id="add" value="Add" />
  </form>
  <button id="complete-all" class="complete">Complete all</button>
  </div>

  <div id="to-do-list"></div>
  <div id="items-left"><span id="number-items-left">0</span> items left</div>


  <div id="templates">
    <script class="list" type="text/template">
        <div class="list-item" data-id="<%=id%>">
          <% if (complete == true) {       %>
            <span class='strike-outer'><span class='strike-inner'><b><%=name%></b></span></span>
          <% } else {                      %>
          <input type="checkbox" class="checkbox" data-title="<%=name%>" data-id="<%=id%>">
          <b><%=name%></b>
          <% } %>
          </label>
        </div>
      </script>
  </div>
</div>

<div id="template2">
  <div id="template2">
        <script class="items-left" type="text/template">
          <div class='items-left'>
            <label><%=num%> items left</label>
          </div>
        </script>
      </script>
  </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript">


//make a string with which to create template
var templateHtml = $('#templates .list').html();
// Make a template with that string
var template = _.template(templateHtml);

var template2Html = $('#templates .items-left').html();

var tasks = [{
    name: 'finish todo list',
    complete: false,
    id: 0
  }
];


var ToDoList = function (array) {
  this.list = array;
  this.updateList(this.list);
}
ToDoList.prototype.updateList = function () {
  $('#to-do-list').html('');
  for (var i = 0; i < this.list.length; i++){
    var templ = template(this.list[i]);
    $('#to-do-list').append(templ);
  }
};
ToDoList.prototype.completeAll = function(){
  for (var i = 0; i < myList.list.length; i++){
    myList.list[i].complete = true;
  }
  myList.updateList();
};
ToDoList.prototype.updateCount = function () {
  var x = 0;
  for (var i = 0; i < myList.list.length; i++){
    if (myList.list[i].complete === false){
      x++;
    }
  }
  $('#number-items-left').text(x);
}
var myList = new ToDoList(tasks);
// Click handlers

$(document).on('click', '#add',function (e) {
  e.preventDefault();
  var name = $('#text1').val();
  var complete = false;
  var id = myList.list.length
  if (name.length > 0){
    newTask = {
      name: name,
      complete: complete,
      id: id
    }
    tasks.push(newTask);
    myList.updateList(tasks);
    console.log('entering updateCount');
    myList.updateCount();
    $('#text1').val('');
  } else {
    //Do nothing
  }
  
});

$(document).on('change', '.checkbox', function() {
  for (var i = 0; i < myList.list.length; i++){
    if ($(this).data('id') === myList.list[i].id){
      myList.list[i].complete = true;
      myList.updateList(tasks);
    }
  };
  myList.updateCount();
});

// $(document).on('click', '.list-item', function() {
//   for (var i = 0; i < myList.list.length; i++){
//     console.log($(this).data('id'))
//     if ($(this).data('id') === myList.list[i].id){
//       myList.list[i].complete = true;
//       myList.updateList(tasks);
//     }
//   };
//   myList.updateCount();
// });


$(document).on('click', '.complete', function(){
  myList.completeAll();
});

$(document).on('dblclick', '.list-item', function() {
  var listItemHtml = $(this).text();

  var editTextHtml = '<input type="text" value="' + trim(listItemHtml) + '">';
  $(this).html(editTextHtml);

  
});


function trim (str) {
    return str.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
}

</script>

</body>
</html>
